*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-style: ; */
}

html,body{
    height: 140%;
    width: 100%;
    position: relative;
}


.container{
    height: 100%;
    width: 100%;
}

.container header{
    background-color:black;
    width: 100%;
    height: 5%;
    text-align: center;
    color: white;
    position: sticky;
}
.containerpro{
    width: 100%;
    height: 95%;
    display: flex;
    overflow: hidden;
}

.left{
    width: 50%;
    height: 100%;
    visibility: hidden;
    overflow: scroll;
}

form{
    height: 100%;
    margin: 20px;
}



#name{
    margin-bottom: 20px;
}
#email{
    margin-bottom: 20px;
}
.address{
    margin-bottom: 20px;
    width: 360px;
}
#country{
    margin-bottom: 20px;
}
#mobile{
    margin-bottom: 20px;
    width: 200px;
}

#schoolname{
    width: 360px;
    margin-bottom: 20px;
}

#degree{
    margin-bottom: 20px;
}

.addes{
    margin-bottom: 20px;
}

.right{
    height: 100%;
    width: 50%;
    background-color: whitesmoke;
    position: relative;
    overflow: scroll;
}
header{
    height: 7%;
    width: 100%;
}
.heading{
    width: 100%;
    height: 100%;
    background-color: black;
}
main{
    height: 93%;
    width: 100%;
}
.resume{
    width: 98%;
    height: 98%;
    background-color: wheat;
    margin: 1%;
    display: flex;
    border: 8px;
    border-style:double;
    border-color: black;
    
}
.half1{
    width: 40%;
    height: 100%;
}
.half2{
    height: 100%;
    width: 57%;
    margin-left:3% ;
}
.intro{
    width: 100%;
    height: 20%;
    display: flex;
    
}
.aboutme{
    width: 100%;
    height: 20%;
    
}
.contact{
    width: 100%;
    height: 25%;

}
.skills{
    width: 100%;
    height: 35%;
    
}
.image{
    width: 100%;
    height: 25%;
    
}
.education{
    width: 100%;
    height: 20%;
    
}
.experience{
    width: 100%;
    height: 30%;
}
.interests{
    width: 100%;
    height: 25%;
}
.subheading1{
    height: 40px;
    width: 100%;
    background-color: rgb(124, 124, 9);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.subheading2{
    height: 40px;
    width: 100%;
    background-color: rgb(116, 116, 14);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.subheading1 h2{
    color: whitesmoke;
    padding: 5px;
    text-align: end;
}
.subheading2 h2{
    color: whitesmoke;
    padding: 5px;
}
.des0{
    width: 100%;
    height: 100%;
    display: flex;

}
.des1{
    height: 80%;
    width: 100%;
    display: flex;
}
.des2{
    height: 83%;
    width: 100%;
    display: flex;
}
.des3{
    height: 88%;
    width: 100%;
    display: flex;
}
.des4{
    height: 80%;
    width: 100%;
    display: flex;
}
.des5{
    height: 86%;
    width: 100%;
    display: flex;
}
.des6{
    height: 83%;
    width: 100%;
    display: flex;
}
.symbol{
    height: 100%;
    width: 20%;
    /* background-color: azure; */
}
.description{
    height: 100%;
    width: 80%;
    /* background-color: aqua; */
}
.sub-symbol-intro{
    height: 100%;
    width: 100%;
    color: red;
    font-size: 3rem;
}
.sub-symbol-education{
    height: 100%;
    width: 100%;
    color: black;
    font-size: 4rem;
    padding-top: 40px;
}
.sub-symbol-experience1{
    height: 50%;
    width: 100%;
    color: black;
    font-size: 6rem;
}
.sub-symbol-experience2{
    height: 50%;
    width: 100%;
    color: black;
    font-size: 6rem;
}
.sub-symbol-interests{
    height: 100%;
    width: 100%;
    color: black;
    padding-top: 50px;
    padding-left: 8px;
    font-size: 5rem;
}
.circle1{
    height: 200px;
    width: 200px;
    position: absolute;
    right: 1%;
    top: 1%;
    border-radius: 50%;
    background-color: rgb(141, 141, 9);
    z-index: 20;
    opacity: 0.5;
}

.circle2{
    height: 9%;
    width: 16%;
    position: absolute;
    right: 20%;
    top: 3%;
    border-radius: 50%;
    background-color:blue;
    text-align: center;
    z-index: 20;
    padding-top: 30px;
    opacity: 0.5;
    color: white;
    font-weight: 900;
    opacity: 0.7;
    font-size: 20px;
}

.circle3{
    height: 9%;
    width: 16%;
    position: absolute;
    right: 28%;
    top: 6%;
    border-radius: 50%;
    background-color: red;
    opacity: 0.7;
    z-index: 20;
}
.circle4{
    height: 8%;
    width: 13%;
    position: absolute;
    right: 22%;
    top: 10%;
    border-radius: 50%;
    background-color:rgb(71, 71, 10);
    opacity: 0.7;
    z-index: 24;
}
.circle5{
    height: 6%;
    width: 10%;
    position: absolute;
    right: 18%;
    top: 12%;
    border-radius: 50%;
    background-color:rgb(104, 104, 21);
    opacity: 0.7;
    z-index: 28;
}
.circle6{
    height: 10%;
    width: 17%;
    position: absolute;
    right: 3%;
    top: 6%;
    border-radius: 50%;
    /* background-color: yellow; */
    z-index: 30;
    
}
.circle6 img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
}
.mobile{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 42%;
    left: 60px;
    text-align: center;
    font-size: 2rem;
    padding-top:18px ;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    opacity: 0.8;

}
.email{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 42%;
    left: 120px;
    text-align: center;
    font-size: 2rem;
    padding-top:18px ;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    opacity: 0.8;

}
.address{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 42%;
    left: 180px;
    text-align: center;
    font-size: 2rem;
    padding-top:18px ;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    opacity: 0.8;

}
.names-person{
    width: 100%;
    height: 50%;
    /* background-color: violet; */
}
.job-description{
    width: 100%;
    height: 50%;
    /* background-color: white; */
}
.arrow1{
    width: 20px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 46.5%;
    left: 80px;
    font-size: 4rem;
    color: black;
}
.arrow2{
    width: 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 46.4%;
    left: 140px;
    font-size: 4rem;
    padding-top: 20px;
    color: black;
}
.arrow3{
    width: 20px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 46.5%;
    left: 200px;
    font-size: 4rem;
    color: black;
}

.format{
    margin: 5px;
    padding: 5px;
}

.fstyle{
    margin-top: 5px;
}
#input-font{
    margin-bottom: 5px;
}

.colors{
    display: flex;
}

.tools-div{
    /* display: flex;
    justify-content:flex-start;
    position: fixed; */
    display: none;
    position: fixed;
    top: 100px;
    left: 200px;
    margin: 20px;
    border: 2px solid black;
    width: 400px;
    height: 400px;
}

.circle{
    margin: 5px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.jsdivEdu{
    width: 100%;
    height: 20%;
    margin-left: 0px;
    padding-top: 20px;
    
}
.education-description{
    width: 100%;
    height: 100%;
}

